name: E2E

on:
    pull_request:
        branches: [main]
        types: [closed]

jobs:
    build:
        if: github.event.pull_request.merged == true
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v5
              with:
                  lfs: true
                  fetch-depth: 0

            - name: Use Node.js 22.x
              uses: actions/setup-node@v4
              with:
                  node-version: 22.x
            - name: Install Bun
              uses: oven-sh/setup-bun@v1
              with:
                  bun-version: latest
            - name: Install dependencies
              run: bun install --frozen-lockfile
            - name: Run E2E tests
              run: bun run e2e
