name: Semantic Release

on:
    push:
        branches:
            - main

jobs:
    semantic-release:
        runs-on: ubuntu-latest
        permissions:
            contents: write
            issues: write
            pull-requests: none
        steps:
            - uses: actions/checkout@v5
              with:
                  fetch-depth: 0
                  persist-credentials: true
            - uses: actions/setup-node@v4
              with:
                  node-version: 22
            - name: Install Bun
              uses: oven-sh/setup-bun@v1
              with:
                  bun-version: latest
            - name: Install dependencies
              run: bun install --frozen-lockfile
            - name: Lint
              run: bun run lint
            - name: Test
              run: bun run test
            - name: Build
              run: bun run build
            - name: Release
              run: bunx semantic-release
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  NPM_TOKEN: ${{ secrets.PUBLISH_NPM_TOKEN }}
